@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Article>
@using CleanBlog.Core.Extensions;
@using Umbraco.Core.PropertyEditors.ValueConverters;
@{
    Layout = "Master.cshtml";
    var imgCropper = Model.Value<ImageCropperValue>("mainImage");
    var articleurl = Model.Url(null, UrlMode.Absolute);
    //get url example https://localhost:44354/blog/test-article-1/ -> https://localhost:44354
    var siteUrl = Request.Url.GetLeftPart(UriPartial.Authority);

    var relatedArticles = Model.Value<IList<IPublishedContent>>("articleRelatedContent");
}
@section head
{
    <meta property="og:title" content="@Model.Name" />
    <meta property="og:description" content="@Model.Subtitle" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@siteUrl@Model.MainImage.Url" />
}
@Html.Partial("~/Views/Partials/pageHeader.cshtml")


<!-- Post Content-->
<article class="mb-4">
    @Html.GetGridHtml(Model, "mainContent", "Clean", true)
</article>

<!-- Get Related Articles-->.
@if(relatedArticles != null && relatedArticles.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Related Articles</h2>
                <div class="card-deck">    

                        @foreach (var article in relatedArticles)
                        {
                            <!-- Render the news card -->

                            var relatedImgCropper = article.Value<IPublishedContent>("mainImage");
                            var thumbUrl = relatedImgCropper.GetCropUrl("PageHeader.Thumb");

                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="@thumbUrl" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@article.Name</h5>
                                    <p class="card-text">@article.Value("subtitle")</p>

                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div><a href="@article.Url">Read more</a></div>
                                    <div class="social-icons text-muted">
                                        <a class="ml-2 mr-2" href="https://twitter.com/intent/tweet?text=@article.Value("subtitle")&amp;url=@article.Url(null, UrlMode.Absolute)">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="ml-2 mr-2" href="https://www.facebook.com/sharer.php?u=@article.Url(null, UrlMode.Absolute)">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                        <a class="ml-2 mr-2" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@article.Url(null, UrlMode.Absolute)">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
}
